.container__nav{
    min-width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    flex-flow: row wrap;
    

}

.container__nav-ul{
    min-width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: row wrap;
    list-style: none;

    li{
        font-size: 1.2rem;
        padding: 1rem;

        a{
            color: black;
        }
    }

    li:hover{
        text-decoration: underline;
        font-weight: 900;
        cursor:pointer;
    }
   
}

